<!-- Héritage de template ? Block(s) ? -->
{% extends 'base.html' %}
{% block title %}{% endblock %}
{% block main %}
<div class="grid">
    <article>
        <h2>Discover the {{dino.slug}}</h2>

        <div class="description">
            {{dino.description}}
        </div>

        <div class="card">
            <img src="{{dino.avatar}}" alt="{{dino.name}}" />
            <dl>
                <dt>Name</dt>
                <dd>{{dino.slug}}</dd>
                <dt>Name meaning</dt>
                <dd>{{dino.name_meaning}}</dd>
                <dt>Diet</dt>
                <dd>{{dino.diet}}</dd>
                <dt>Height</dt>
                <dd>{{dino.height}} m</dd>
                <dt>Length</dt>
                <dd>{{dino.length}} m</dd>
                <dt>Weight</dt>
                <dd>{{dino.weight}} k</dd>
            </dl>
        </div>
    </article>

    <aside>
        <h3>Top rated dinosaurs</h3>
        <!-- iterate here ? -->
        {% for dinoRated in topRated %} 
            <a href="">
                <figure>
                    <img src="{{dinoRated.avatar}}" alt="{{dinoRated.name}}" />
                    <figcaption>Discover the {{dinoRated.name}}</figcaption>
                </figure>
            </a>
        {% endfor %}
    </aside>
</div>
{% endblock %}